* {box-sizing: border-box}

#bgrnd {
    padding: 15px 15px;
    max-width: 100%;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    min-height: 675px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bc {
   margin-top: 10px;
   padding: 10px 10px;
}
.op {
    display: block;
    background-color: rgb(165, 165, 165);
    z-index: 0;
}
.navbar {
    text-align: right;
    max-width: 100%;
    display: flex;
}
/*.a {
    color: white;
    text-decoration: none;
    font-size: 21px;
    font-family: 'Inter', sans-serif;
    transition: color .35s ease-in;

}

.a:hover {
    color: #38cb38;
}
ul {
    display: flex;
    max-width: 100%;
    width: 100%;
}
li {
    list-style: none;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 9px;
    padding: 9px 9px;

}*/
.h0 {
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 8px 15px;
    padding: 20px 20px;
}
#u {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}
.h00 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23.5px;
    color: rgb(255, 255, 255);
}
/* Card Styles */
.cardContainer {
    display: flex;
    margin-bottom: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #eeeeee;
    width: 33.3%;
    list-style-type: none;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin: 0 8px;
}

.header {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: black;
    height: 65px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.price {
    text-align: center;
    background-color: #eee;
    height: 45px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.li {
    margin-top: 9px;
    margin-bottom: 9px;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    font-size: 18px;
    height: 34px;
}

.card:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 25px;
    transition: background .5s ease-in;
}
.button:hover {
    background-color: rgb(255, 0, 0);
}
/* Why Us  */
.h01 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 8px 15px;
}
#whyUs {
    text-align: center;
    
}

.container {
  max-width: 100%;
  background-color: #ddd;
  border-radius: 10px;
}


.skills {
  border-radius: 10px;
  margin: 6px 6px;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-family: 'Cairo', sans-serif;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.skills:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}
.html {width: 90%; background-color: #17e484;}
.css {width: 80%; background-color: #0a89f1;}
.js {width: 49%; background-color: #f44336;}
.git {width: 60%; background-color: #7866d1;}

.p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
}
.reasons {
    max-width: 100%;
    display: block;
    text-align: center;
}
.rl {
    margin-top: 9px;
    margin-bottom: 9px;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    font-size: 18px;
    height: 34px;
    position: relative;
    transition: text-shadow .1s ease;
}
.rl:hover {
    text-shadow: 2px 2px #ff0000;
}

@keyframes rl {
    from {
        left: 1000px;
    }
    to {
      left: 0
    }
}


/* FAQ */
.faq {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 19px;
  transition: background .4s ease-out;
}
.active, .faq:hover {
  background-color: #ccc;
}
.panel {
  padding: 18px 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Contact Form and Page */
.form {
    justify-content: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.c {
    padding: 9.5px 9.5px;
    width: 33%;
    margin: 6px 8px;

}

.product {
     padding: 9px 9px;
     margin: 8px 10px;
}
#submit {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
}
.c:focus {
    border: 2px solid rgb(12, 119, 219)
}
/* Footer */
.footer {
    margin-top: 80px;
    display: flex;
    text-align: center;
    bottom: 0;
    background: white;
}
.table {
   flex-direction: column;
   margin-left: 17px;
    margin-right: 17px;
    padding: 20px;
    width: 33.3%;
}
.tt {
    margin-top: 9px;
    margin-bottom: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    height: 34px;
}
.li1 {
    margin-top: 6px;
    margin-bottom: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 14px;
    height: 34px;
    color: black;
}
.ec {
    color: #3d4446;
    text-decoration: none;
    transition: color .45s ease-in;
}
.ec:hover {
    color: #10e0b3;
}
.fa {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  width: 40px;
  transition: opacity .39s;
}

.fa:hover {
    opacity: 0.9;
    color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #a12691;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-github {
    color: black;
    background: whitesmoke;
}
.tableBottom {
    display: flex;
    flex-direction: row;
}
/* Media Queries */
@media screen and (max-width: 700px) and (min-width: 400px) {
    ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-size: 20px;

    }
    .a {
        font-size: 30px;
        font-style: normal;
        padding: 11px 11px;
    }
    .x {
        margin-right: auto;
    }
    .h0 {
        font-family: 'Montserrat', sans-serif
    }
    .cardContainer {
        flex-direction: column;
    }
    .card {
        margin-top: 11px;
        margin-bottom: 11px;
        width: 100%;
    }
    .form {
        font-size: 20px;
    }
    .c {
        width: 100%;
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
    .table {
        width: 100%;
    }
}

@media screen and (min-device-width: 370px) and (max-width: 400px) {
    .a {
        font-size: 30px;
        font-style: normal;
        padding: 12px 12px;
    }
    ul {
        width: 100%;
        max-width: 100%;
    }
        
}
@media screen and (min-device-width: 375px) and (max-width: 415px) {
    .a {
        font-size: 28px;
        padding: 10px 10px;
        text-align: center;
    } 
    li {
        padding: 10px 10px;
    }
    ul {
        width: 100%;
        max-width: 100%;
    }
}